#container{
    margin-left: 50px;
    font-family: Arial;
    font-size: 12px;
}

#container1{
    margin-left: 50px;
    font-family: Arial;
    font-size: 12px;
}

#form1 label{
    display: block;
    color: #797979;
}

#form1 input{
    width: 220px;
    padding: 6px;
    color: #949494;
    font-family: Arial;
    font-size: 12px;
    border: 1px solid #cecece;
    margin-bottom: 10px;
}

#form1 div{
    margin-bottom: 10px;
}

#form1 #enter{
    background: #6f9ff1;
    color: #fff;
    width: 234px;
    font-weight: 700;
    font-style: normal;
    cursor: pointer;
}

#form1 #enter:hover{
    background: #79a7f1;
}

#container >div> a{
    color: black;
    text-decoration: none;
}

#container1 >div> a{
    color: black;
    text-decoration: none;
}

#container >div> a:hover{
    color: blue;
} 

#container1 >div> a:hover{
    color: blue;
} 

#logout > a{
    color: black;
    text-decoration: none;
}

#logout > a:hover{
    color:blue;
}

#container div span{
    font-family: Arial;
    font-size: 12px;
    font-style: italic;
    color: #797979;
    margin-left: 0px;
    margin-bottom: 10px;
}

#container1 div span{
    font-family: Arial;
    font-size: 12px;
    font-style: italic;
    color: #797979;
    margin-left: 0px;
}

#form2 label{
    display: block;
    color: #797979;
}

#form2 div{
    margin-bottom: 10px;
}

#form2 input{
    width: 220px;
    padding: 6px;
    color: #949494;
    font-family: Arial;
    font-size: 12px;
    border: 1px solid #cecece;
    margin-right: 10px;    
}

#form2 #registration{
    background: #6f9ff1;
    color: #fff;
    font-weight: 700;
    font-style: normal;
    cursor: pointer;
}

#form2 #registration:hover{
    background: #79a7f1;
}

#form2 div span.error{
    color:red;
}

#form2 div span.valid{
    color:green;
}

#form1 div span.error{
    color:red;
}

#form1 div span.valid{
    color:green;
}

#container div span.error{
    color: red;
}

#reg{
    font-family: Themes;
    font-size: 40px;
    color: #27408B;
    margin: 10px 0px 10px 0px;
}

#reg1{
    
    font-family: Themes;
    font-size: 40px;
    color: #27408B;
    margin: 10px 0px 10px 0px;
}

#logError{
    margin-bottom: 10px;
}